{
  "semi": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tailwindConfig": "./tailwind.config.js",
  "endingPosition": "absolute-with-indent"
}
